<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="iscolapsed = !iscolapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon" [class.glyphicon-search] ="iscolapsed"
        [class.glyphicon-triangle-top] ="!iscolapsed"></span>                        
      </button>
      <img src="./assets/logo.png" class="navbar-brand" alt="logo caixa">


    </div>

  </div>
</nav>




<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav inner-Body" [class.desktop]="iscolapsed">


      <places-autocomplete (onChangeLocal)="onChangeCenter($event)"></places-autocomplete>


      <places-filter (onFiltro)="onChangeFilter($event)"></places-filter>

    </div>
    <div class="col-sm-10 inner-Body">



      <div style="margin-top: 5px ; margin-bottom: 5px" class="panel panel-default" [hidden]="!exibeBanking">
        <div class="panel-body">
          <img align="left" src="./assets/banking.png">
          <strong>Internet Banking: </strong> O que você precisa onde quer que você esteja.
          <a href={{urlBanking}} class="btn btn-primary" (click)="onUrlBanking()" target="_blank">Acessar </a></div>
      </div>

      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a (click)="showMapTab = true">Mapa</a></li>
          <li><a (click)="showMapTab = false">Lista</a></li>

        </ul>
      </div>



        <div [hidden]="!showMapTab">
          <map-view (onChangeCenterView) = "ChangeCenterView($event)" [(latitude)]="latitude" [(longitude)]="longitude" [zoom]="zoom" [lugares]="lugares"></map-view>
        </div>

        <div [hidden]="showMapTab" class="text-left">
          <br>
          <ul class="list-group" *ngFor="let lugar of lugares; let i = index">
            <a href = "https://www.google.com/maps/dir/?api=1&origin={{latitude}},{{longitude}}&destination={{lugar.location.lat}},{{lugar.location.lon}}"
            target = "_blank" 
            data-toggle="tooltip" title="Clique e veja como chegar."            
            class="list-group-item" style="margin-left: 0; margin-right: 0">
              <div><img [src]="urlLink(lugar.tipo)" style="float : left">
                <div style="margin-left: 5%">
                  <strong>{{i + 1}} - {{lugar.tipo}} - {{lugar.nome}}</strong>
                  <div>
                    {{lugar.endereco}} - {{lugar.municipio}}, {{lugar.uf}} - CEP: {{lugar.cep}} -
                    <strong> Telefone: </strong> {{lugar.telefone}}
                  </div>
                </div>
              </div>
            </a>

          </ul>




        </div>
      </div>

    </div>
  </div>

  <footer class="container-fluid text-center ">

  </footer>